<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<File name="MyFile" fileName="${sys:user.home}/app.log" append="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<Console name="Console" target="SYSTEM_OUT">
		<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
	<!-- https://logging.apache.org/log4j/2.x/manual/customloglevels.html -->
		<Logger name="de.thopx.myexifsorter" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />
		</Root>
	</Loggers>
</Configuration>